ol {
	padding-left: 0;
}

.titledContent {
	list-style-type: none;
}

.titledContent .content {
	padding-left: 1em;
}

.titledContent .title .typeWidget {
	font-size: 200%;
	color: red;
}
	
.titledContent .titledContent  .title .typeWidget {
	font-size: 150%;
}


.titledContent .titledContent .titledContent .title .typeWidget {
	font-size: 130%;
	color: black;
}

.titledContent .titledContent .titledContent .titledContent .title .typeWidget {
	font-size: 100%;
}

.orderedContent {
	padding-left: 2em;
}
.controlArea {
	float: right;
}

